<div class="container row">
  <div class="col-sm-3 col-md-3 panel-margin">
    <div class="panel panel-success">
      <div class="panel-heading">
        アカウント情報
      </div>
      <div class="panel-body">
        <table>
          <tr>
            <td>
              <%= image_tag @user.image_url.to_s, size: "50x50" %>
            </td>
            <td>
              <h4><%= @user.name %></h4>
              <p>メールアドレス: <%= @user.email %></p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-md-9 tsubu-margin">
    <p class="message"><%= notice %></p>
    <div class="tsubu-form">
      <%= form_for(@tweet_new) do |f| %>
      <div class="input-group">
        <span class="input-group-btn">
          <%= f.label :picture %>
          <%= f.file_field :picture, id: :tweet_picture %>
        </span>
        <input type="text" class="form-control" placeholder="140文字以内" name="tweet[content]" />
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default" name="commit" data-disable-with="つぶやく">つぶやく</button>
        </span>
      </div>
      <% end %>
    </div>
    <table class="tweet">
      <% @tweets.each do |tweet| %>
      <tr class="tweet_tr">
        <td class="list">
          <div>
            [<%= tweet.user.name %>]
          </div>
          <div>
            <% unless tweet.picture.blank? %>
              <%= image_tag tweet.picture_url, size: '750x375' %>
            <% end %>
          </div>
          <div>
            <%= tweet.content %>
          </div>
        </td>
        <td class="list-editer">
          <div class="dropdown">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                <%= link_to "編集", edit_tweet_path(tweet.id) %>
              </li>
              <li role="presentation">
                <%= link_to '削除', tweet_path(tweet.id), data: { confirm: '本当に編集していいですか？' }, method: :delete %>
              </li>
              <li role="presentation">
                <% unless tweet.user == current_user %>
                  <% if current_user.favorites.find_by(tweet_id: tweet.id).present? %>
                    <%= link_to 'お気に入り解除', favorite_path(current_user.favorites.find_by(tweet_id: tweet.id)), method: :delete, class: 'btn btn-danger' %>
                  <% else %>
                    <%= link_to 'お気に入り', favorites_path(tweet_id: tweet.id), method: :post, class: 'btn btn-danger' %>
                  <% end %>
                <% end %>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

</div>
