<div class="login_center">
  <p class="message"><%= notice %></p>
  <h2>ユーザー情報変更画面</h2>
  <div>
    <%= form_for(@user) do |f| %>
    <table  class="tweet">
      <tr class="tweet_tr">
        <th>
          <%= f.label :image %>
        </th>
        <th>
          <%= f.file_field :image, id: :user_image %>
        </th>
      </tr>
      <tr class="tweet_tr">
        <th>
          <%= f.label :name %>
        </th>
        <th>
          <%= f.text_field :name %>
        </th>
      </tr>
      <tr class="tweet_tr">
        <th>
          <%= f.label :email %>
        </th>
        <th>
          <%= f.email_field :email %>
        </th>
      </tr>
      <tr class="tweet_tr">
        <th>
          <%= f.label :password %>
        </th>
        <th>
          <%= f.password_field :password %>
        </th>
      </tr>
      <tr class="tweet_tr">
        <th>
          <%= f.label :password_confirmation %>
        </th>
        <th>
          <%= f.password_field :password_confirmation %>
        </th>
      </tr>
    </table>
    <%= f.submit "uploard my account" %>
    <% end %>
  </div>
</div>
