<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-default custum">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample4">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img alt="Brand" src="<%= asset_path "top/wood.png" %>" style="height: 20px;">
          </a>
        </div>

        <div class="collapse navbar-collapse" id="navbarEexample4">
          <ul class="nav navbar-nav">
            <li>
              <a href="/tweets">マイページ</a>
            </li>
            <li>
              <a href="#">設定</a>
            </li>
          </ul>
          <% if logged_in? %>
          <a class="btn btn-primary btn-lg" href="<%= user_path(current_user.id) %>">
            登録情報
          </a>
          <a class="btn btn-primary btn-lg" data-method="delete" href="<%= session_path(current_user.id) %>">
            ログアウト
          </a>
          <% else %>
          <a class="btn btn-primary btn-lg" href="<%= new_user_path %>">
            登録
          </a>
          <a class="btn btn-primary btn-lg" href="<%= new_session_path %>">
            ログイン
          </a>
          <% end %>
        </div>
      </div>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    <div class="container">
      <p class="text-muted">ぶつぶつ</p>
    </div>
  </footer>
</html>
