<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div class="container-fluid">
      <nav class="navbar-default">
        <ul class="nav nav-pills">
          <li role="presentation" class="active">
            <a href="/">Home</a>
          </li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              つぶやく
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <%= form_for(Tweet.new) do |form| %>
              <li>
                <textarea class="form-control" name="tweet[content]"></textarea>
              </li>
              <li class="word_size">
                140文字以内
              </li>
              <li>
                <input class="btn btn-default" type="submit" name="commit" value="つぶやく" data-disable-with="Create Tweet">
              </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
